#!/usr/bin/env python
import os
import sys

sys.path.append("{{ app.base_dir }}/project")
sys.path.append("{{ app.base_dir }}/src")
{% for item in sources.app %}
sys.path.append("{{ app.base_dir }}/src/{{ item.name }}")
{% endfor %}

if __name__ == "__main__":
    os.environ.setdefault("DJANGO_SETTINGS_MODULE", "{{ sources.project.name }}.settings.{{ app.environment }}")

    from django.core.management import execute_from_command_line

    execute_from_command_line(sys.argv)
